Job Complete: 
= "\t " + @job.name

This job is complete.  Please go to the job URL below to access the completed files.

Job URL: 
= "\t " + "http://ippf.rcg.montana/edu/%s" % @job.id

Job Type: 
= "\t " + @job.job_type.to_s

Creator: 
= "\t " + @job.user.email

Coordinates: 
= "\t " + @job.coordinates

Status: 
= "\t " + @job.status.to_s

Job Files: 
- @job.job_files.each do |jf| 
  = "\t -" + jf.name

Job Notes:
= "\t " + @job.notes
