= form_for @job do |f|
  -if @job.errors.any?
    #error_explanation
      %h2= "#{pluralize(@job.errors.count, "error")} prohibited this job from being saved:"
      %ul
        - @job.errors.full_messages.each do |msg|
          %li= msg
  
  = f.hidden_field :uuid
  
  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :job_type
    = f.select(:job_type, Job.job_types)
  .p Coordinate Pairs:
  .p
    - [:x1, :y1].each do |coord|
      %span.field
        = f.label coord
        = f.text_field(coord, :size => 5)
  .p
    - [:x2, :y2].each do |coord|
      %span.field
        = f.label coord
        = f.text_field(coord, :size => 5)
  .field
    = f.label :notes
    = f.text_area :notes, :rows => 4
  #job_files
    #uploader{:rel => create_job_file_url(@job.uuid)}

  .actions
    = f.submit 'Submit Job'
