= form_for @job do |f|
  -if @job.errors.any?
    #error_explanation
      %h2= "#{pluralize(@job.errors.count, "error")} prohibited this job from being saved:"
      %ul
        - @job.errors.full_messages.each do |msg|
          %li= msg
  
  = f.hidden_field :uuid
  
  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :job_type
    = f.select(:job_type, Job.job_types)
  .field
    = f.label :coordinates
    = f.text_field :coordinates
  .field
    = f.label :notes
    = f.text_area :notes, :rows => 4
  #uploader
    %p Your browser doesn't have Flash, Silverlight, Gears, BrowserPlus or HTML5 support.

  .actions
    = f.submit 'Submit Job'
