%h1 Listing jobs

%table
  %tr
    %th Name
    %th Job type
    %th User
    %th Coordinates
    %th Status
    %th Notes
    %th

  - @jobs.each do |job|
    %tr
      %td= job.name
      %td= job.job_type
      %td= job.user_id
      %td= job.coordinates
      %td= job.status
      %td= job.notes
      %td
        = link_to 'Show', job
        =#|
        =# link_to 'Edit', edit_job_path(job)
        =#|
        =# link_to 'Destroy', job, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Job', new_job_path
