%table.show-model-table
  %tr
    %th Property
    %th Value
  %tr{:class => cycle('zebra','')}
    %td.property Name:
    %td= @job.name
  %tr{:class => cycle('zebra','')}
    %td.property Job Type:
    %td= @job.job_type
  %tr{:class => cycle('zebra','')}
    %td.property User:
    %td= @job.user.email
  %tr{:class => cycle('zebra','')}
    %td.property Coordinates:
    %td= @job.coordinates
  %tr{:class => cycle('zebra','')}
    %td.property Status:
    %td= @job.status
  %tr{:class => cycle('zebra','')}
    %td.property Files:
    %td
      %ul
        - @job.job_files.each do |jf|
          %li
            %a{:href => jf.file_url}= jf.name
  %tr{:class => cycle('zebra','')}
    %td.property Complete Files:
    %td
      %ul
        - @job.complete_files.each do |cf|
          %li
            %a{:href => cf}= File.basename(cf)
  %tr{:class => cycle('zebra','')}
    %td.property Notes:
    %td= @job.notes

= link_to 'Back', jobs_path
