%p#notice= notice

%p
  %b Name:
  = @job.name
%p
  %b Job type:
  = @job.job_type
%p
  %b User:
  = @job.user_id
%p
  %b Coordinates:
  = @job.coordinates
%p
  %b Status:
  = @job.status
%p
  %b Notes:
  = @job.notes
  
%p
  %b Files
  %ul
    - @job.job_files.each do |jf|
      %li
        %a{:href => jf.file_url}= jf.name

= link_to 'Back', jobs_path
