%table.jobs-table
  %tr
    %th Id
    %th Email
    %th Admin?
    %th Sign In Count
    %th Last Sign In
    %th

  - @users.each do |user|
    %tr
      %td= user.id
      %td= user.email
      %td= user.admin?
      %td= user.sign_in_count
      %td= user.last_sign_in_at
      %td
        = link_to 'Details', user
        |
        = link_to 'Edit', edit_user_path(user)
        |
        = link_to 'Destroy', user, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New User', new_user_path